@model Bytepad_3._0.Models.Paper

@{
    ViewBag.Title = "Upload";
}

<h3>Upload Papers</h3>

<form class="form-horizontal">
    <div class="form-group" style="padding-top:5%">
        <label class="control-label col-sm-2" for="email">Exam Type:</label>
        <div class="dropdown">
            @Html.DropDownListFor(Model => Model.ExamTypeId, new SelectList(ViewBag.examType, "Id", "Exam"), "Select Exam Type", new { @style = "width:100%;height:27px;", required = "required" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="email">Session:</label>
        <div class="dropdown">
            @Html.DropDownListFor(Model => Model.SessionId, new SelectList(ViewBag.session, "Id", "EachSession"), "Select Session", new { @style = "width:100%;height:27px;", required = "required" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="email">Semester:</label>
        <div class="dropdown">
            @Html.DropDownListFor(Model => Model.SemesterType, new SelectList(ViewBag.semester, "Id", "SemesterType"), "Select Semester", new { @style = "width:100%;height:27px;", required = "required" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="email">Upload File:</label>
        <div>
            <input type="file" name="ListOfPaper" class="btn btn-primary" webkitdirectory required />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" value="Upload" class="btn btn-primary" />
        </div>
    </div>
</form>

